img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#div1{
    display: inline-block;
    padding-left: 140px;
}
#div2{
    float: right;
    padding-right: 150px;
}
#form{
    display: block;
    margin-left: 42%;
}